/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.ClickableBlocksContent {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.ClickableBlocksSteps {
    position: relative;
    height: 2.2em;
}
.ClickableBlocksStep,
.ClickableBlocksMealSelector {
    float: left;
    height: 2.5em;
    padding-top: 6px;
}
.ClickableBlocksAllBlockSelector {
    float: left;
    height: 2.5em;
    vertical-align: bottom;
    line-height: 2.5em;
     padding-top: 6px;
}
.ClickableBlocksStep.ClickableBlocksStepFullHour {
    border-left: 2px solid #656565;
    height: 2.5em;
}
.ClickableBlocksStep.ClickableBlocksStepHalfHour {
    border-left: 1px solid #ffd6b8;
    height: 2.5em;
}
.ClickableBlocksStep.ClickableBlocksStepQuarter {
    border-left: 1px solid #ffd6b8;
    height: 2.5em;
}
.ClickableBlocksStep.ClickableBlocksStepEnd {
    border-right: 2px solid #656565;
    height: 2.5em;
}
.ClickableBlocksStep .ClickableBlocksStepContentFullHour {
    height: 1.8em;
}
.ClickableBlocksStep .ClickableBlocksStepContentHalfHour {
    height: 1.8em;
}
.ClickableBlocksStep .ClickableBlocksStepContentQuarter {
    height: 1.8em;
}
.ClickableBlocksStep .ClickableBlocksStepContentEnd {
    height: 1.8em;
}
.ClickableBlocksTick {
    position: absolute;
    margin-left: -.6em;
    margin-top: -20px;
    text-align: center;
    color: #656565;
    font-size: small;
}
div.ClickableBlocksStep.ClickableBlocksPlannedBlockBody {
    border-left: 0px;
    border-right: 0px;
}
div.ClickableBlocksPlannedBlockBody .ClickableBlocksStepContent {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    cursor: hand;
}
div.ClickableBlocksPlannedBlockStart .ClickableBlocksStepContent {
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
div.ClickableBlocksPlannedBlockEnd .ClickableBlocksStepContent {
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
div.ClickableBlocksPlannedBlockStart div.ClickableBlocksStepContent {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
div.ClickableBlocksPlannedBlockEnd div.ClickableBlocksStepContent {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
div.ClickableBlocksAllBlockSelector i.fa-plus-square {
    padding-right: 0.2em;
    padding-left: 0.2em;
    color: #ff8229;
    cursor: pointer;
    cursor: hand;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px #ccc;
}
div.ClickableBlocksAllBlockSelector i.fa-plus-square:hover {
    color: #D55900;
}
div.ClickableBlocksAllBlockSelector i.fa-minus-square {
    padding-right: 0.2em;
    padding-right: 0.8em;
    color: #ffd6b8;
    cursor: pointer;
    cursor: hand;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px #ccc;
}
div.ClickableBlocksAllBlockSelector i.fa-minus-square:hover {
    color: #FFB27A;
}
i.mealOff {
    color: #ffd6b8;
}
i.fa.click {
    -webkit-animation: pulse-click .4s 1;
    animation: pulse-click .4s 1;
}
@keyframes pulse-click {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        color: #FFB27A;
    }
    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
div.ClickableBlocksMealSelector i.mealOn {
    padding-left: 0.6em;
    cursor: pointer;
    cursor: hand;
    text-shadow: 2px 2px 2px #ccc;
    font-size: 1.8em;
}
div.ClickableBlocksMealSelector i.mealOff {
    padding-left: 0.8em;
    cursor: pointer;
    cursor: hand;
    font-size: 1.5em;
}
